.hhs-header-mod {
 position: absolute;
  left: 0;
  display: inline-table !important;
  width: 100%;
  z-index: 10;
}

.hhs-nav {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/** LOGO HIDE/SHOW **/
.hhs-alt-nav .hhs-header-logo .logo-sticky,
.hhs-header-logo .logo-standard {
 display: block;
}

.hhs-alt-nav .hhs-header-logo .logo-standard,
.hhs-header-logo .logo-sticky {
 display: none;
}
.sticky-menu .hhs-header-logo .logo-standard {
 display: none;
}
.sticky-menu .hhs-header-logo .logo-sticky {
 display: block;
}

.hhs-header-logo,
.hhs-nav-opt-items {
 display: table-cell;
  vertical-align: middle;
}

.hhs-header-logo {
  position: relative;
  z-index: 10;
}

.hhs-header-menu {
 float: right !important;
}

/****** LANGUAGE SWITCHER ******/
 
 .hhs-lang-switch {
   float: right;
 }
 
 .hhs-lang-switch .lang_switcher_class {
   padding: 7px 10px; 
   margin-top: 5px;
 }
 
 .hhs-lang-switch .globe_class {
   background-image: none !important;
   font-family: "Font Awesome 5 Free";
   -webkit-font-smoothing: antialiased;
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   line-height: 1;
   font-weight: 900;
 }
 .hhs-lang-switch .globe_class:before {
   content: "\f0ac";
 }
.hhs-lang-switch .globe_class {
 height: 30px; 
}
 
 .hhs-lang-switch .lang_list_class {
   font-weight: bold;
   text-transform: uppercase;
   text-align: left;
   border: none;
   top: 35px;
   left: -10px;
   padding-top: 0px !important;
   -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
   box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
   min-width: 100px;
   width: max-content;
 }
 
 .hhs-lang-switch .lang_list_class:before {
   border: none;
   width: 10px;
 }
 .hhs-lang-switch .lang_list_class:after {
   border: 5px solid transparent;
   left: 25px;
   top: -10px;
 }

   
 .hhs-lang-switch .lang_list_class:after {
   left: 85px;
 }

 .hhs-lang-switch .lang_list_class li:first-child,
 .hhs-lang-switch .lang_list_class li{
   border: none !important; 
 }
 .hhs-lang-switch .lang_list_class li:first-child {
   padding-top: 10px; 
 }
 
 .hhs-lang-switch .lang_list_class li:last-child {
   padding-bottom: 10px; 
 }
 
 .hhs-lang-switch .lang_list_class li {
   padding: 0px; 
   margin-bottom: 0px;
 }
 
 .hhs-lang-switch .lang_list_class li a {
   padding: 6px 20px 6px 20px; 
   display: block;
 }

.hhs-lang-switch,
.hhs-header-search,
.hhs-header-cta {
 float: right;
  margin-left: 15px;
  z-index: 1000;
  position: relative;
}

.hhs-lang-switch a,
.hhs-header-search a{
  padding: 10px 5px;
  display: block;
}

.hhs-header-search a i {
 vertical-align: bottom;
}

.hhs-lang-switch .globe_class:before {
 vertical-align: middle;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
 padding-top: 5px; 
}

.hhs-header-mod .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li {
 width: 100%;
  display: block;
  clear: both;
}


.hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
 max-width: none;
 overflow: visible;
  padding: 10px 6px;
}
.hhs-header-hat {
  position: relative;
  z-index: 100;
}

.hhs-header-hat .col-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.hhs-hat-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
  float: right;
}
.hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a span {
 padding: 10px 0;
}

/** MEGA MENU STYLE **/
/* On desktop */
@media screen and (min-width: 768px) {
	[class^=mega-drop].loaded {
		position: relative; 	/* 	Make span element relative */
		display: inline-block; 	/* 	Make span element block */
		padding: 0 !important; 	/* 	remove padding */
	}
	/* 	add after element so you can bridge the gap between the link and the mega menu */
	[class^=mega-drop].loaded:hover::after {
		content: ""; 	/* 	fake bridge */
		display: block; /* make it hoverable	 */
		position: absolute;
		top:0; /* 	place at bottom of link */
		width: 100%; 
		height: 100px; /* 	magic number */
		left: -36px;
		/*border: 1px solid red; */
	}
	[class^=mega-drop].loaded:hover::before {
		content: ""; 	/* 	fake bridge */
		display: block; /* make it hoverable	 */
		position: absolute;
		top: 0; /* 	place at bottom of link */
		width: 100%; 
		height: 100px; /* 	magic number */
		right: -36px;
		/*border: 1px solid red; */
	}
}

.mega-menu {
	left: 0; 
	position: fixed;
	width: 100%;
	padding:15px;
	z-index: 10000;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.1);
}
/* ADL WAS HERE	 */
.mega-menu {
	opacity: 0; /* 	hide it initially */  
	pointer-events: none; /* 	cant accidently click it when you dont want to */
	transition: all .8s ease-in-out; /* 	animate the opacity  */
}
.mega-menu.active {
	opacity: 1; /* 	show it when active */
	visibility: visible; 
	pointer-events: inherit; /* 	make it clickable again */
}


.mega-menu::before {
content: '';
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  height: 20px;
  top: -20px;
}

.mega-menu.mega-scrolled {
	top: 55px; 
}

.side-bar-nav {
	height:680px;
	overflow-y: scroll;
}

.side-bar-nav .hs-menu-wrapper.hs-menu-flow-vertical.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper,
.mega-menu .hs-menu-wrapper.hs-menu-flow-vertical.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
	left: auto;
	top: auto;
	visibility: visible;
	opacity: 1;
	position: static; 
}

.mega-menu .hs-menu-wrapper.hs-menu-flow-vertical > ul {
	margin-bottom: 0px; 
}


.mega-menu .hs-menu-wrapper.hs-menu-flow-vertical>ul li a,
.mega-menu .widget-type-post_listing ul li a{
	padding: 2px 0px !important;
	width: auto !important;
	white-space: normal;
	text-indent: inherit;
}

.mega-menu .key-menu .hs-menu-wrapper.hs-menu-flow-vertical>ul li:first-child a {
	padding: 0px 0px !important;
	width: auto !important;
}


.mega-menu .hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-menu-depth-2 > a {
	font-size: .9em;
	padding-left: 5px;
}

.custom-menu-primary .mega-menu .hs-menu-wrapper>ul,
.custom-menu-primary .mega-menu .hs-menu-wrapper>ul ul,
.custom-menu-primary .mega-menu .widget-type-post_listing ul,
.custom-menu-primary .mega-menu .widget-type-post_listing ul ul{
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent !important;
}

.custom-menu-primary .hs-menu-wrapper > ul ul,
.custom-menu-primary .mega-menu .key-menu .hs-menu-wrapper>ul,
.custom-menu-primary .mega-menu .key-menu .hs-menu-wrapper>ul ul {
	padding: 0px; 
}

.custom-menu-primary .mega-menu .hs-menu-wrapper>ul ul {
	min-width: 170px !important;
}

.custom-menu-primary .hs-menu-wrapper .mega-menu > ul > li,
.custom-menu-primary .mega-menu .hs-menu-wrapper>ul>li,
.hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal .mega-menu .hs-menu-flow-vertical ul li a,
.hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal .mega-menu .widget-type-post_listing ul li a{
	text-transform: none !important;
	font-weight: normal !important;
	display: block;
	clear: both;
}

.hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal .mega-menu .key-menu.hs-menu-flow-vertical ul li:first-child a {
	line-height: 1em; 
}

.custom-menu-primary .mega-menu .hs-menu-wrapper > ul > li, 
.custom-menu-primary .hs-menu-wrapper .mega-menu > ul > li {
	margin-left: 0px !important;
}

.custom-menu-primary .mega-menu .hs-menu-wrapper>ul ul {
	padding: 0px 0  10px 10px !important; 
}

.hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal .mega-menu>ul li a {
	font-weight: normal !important; 
}

.custom-menu-primary .hs-menu-wrapper .mega-menu ul>li>ul:before,
.hs-menu-wrapper.hs-menu-flow-horizontal .mega-menu ul li.hs-item-has-children>a:after {
	display: none !important; 
}

.custom-menu-primary .mega-menu .hs-menu-wrapper > ul li a:hover {
	background-color: transparent !important; 
}

.custom-menu-primary .mega-menu .hs-menu-wrapper > ul {
	float: none !important; 
}

.hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li .mega-menu a {
  color: #555555 !important;
  padding: 5px;
  text-transform: none;
}

.hs-menu-wrapper.hs-menu-flow-horizontal .mega-menu ul li.hs-item-has-children ul.hs-menu-children-wrapper {
 display: block;
  opacity: 1;
  visibility: visible;
  position: static;
}

.mega-menu {
 padding: 50px 0; 
}

.mega-text-con {
 white-space: normal; 
}
.mega-text-con ul {
 padding-left: 20px !important; 
}
.mega-text-con li {
 list-style-type: disc; 
  width: 100%;
}

.custom-menu-primary .hs-menu-wrapper > ul .mega-menu ul {
 background: transparent !important; 
 box-shadow: none !important;
 -webkit-box-shadow: none !important;
}


@media (max-width: 768px){
	.mega-menu.active {
		display: none !important;
		opacity: 0;
	}
	.hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a span {
		padding: 0px !important; 
	}
  .header-container-wrapper .container-fluid .mega-menu {display: none !important;}
  .header-container-wrapper .container-fluid .row-fluid .mega-menu,
  .custom-menu-primary .mega-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

/** HEADER HAT STYLE **/

.hhs-hat-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
 margin-right: 0px;
}

.hhs-hat-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
 max-width: none;
  overflow: visible;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  text-align: right;
  padding: 0px 0px 0 20px;
}



.hhs-hat-pull-down {
  visibility: hidden;
  position: absolute;
  bottom: -30px;
  right: 0px;
  padding: 10px 12px 10px 12px;
  z-index: 2;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  outline: none;
  border: none;
}

.hhs-hat-pull-down i {
  color: #fff;
}

.hhs-hat-pull-down.is-open i.fa-angle-double-up,
.hhs-hat-pull-down i.fa-angle-double-down {
  display: block;
}

.hhs-hat-pull-down i.fa-angle-double-up,
.hhs-hat-pull-down.is-open i.fa-angle-double-down {
  display: none;
}



/* Parent List */
.custom-menu-primary .hs-menu-wrapper {
 overflow: visible !important;
}

.custom-menu-primary .hs-menu-wrapper > ul{
  float: right;
}

.custom-menu-primary .hs-menu-wrapper > ul > li{
  font-weight: normal;
  margin-left: 0px !important;
  margin-bottom: 0px;
}

.custom-menu-primary .hs-menu-wrapper > ul > li > a{
    padding: 10px 15px;
    position: relative;
    display: block;
}

.custom-menu-primary a:hover {
    color: #000000;
}

/** STICKY HEADER STYLE **/
.hs-menu-children-wrapper .hs-menu-item.active,
.custom-menu-primary .hs-menu-wrapper .hs-menu-children-wrapper li.active a:hover,
.sticky-menu .hs-menu-item.active,
.sticky-menu .custom-menu-primary .hs-menu-wrapper > ul li.active a:hover{
    background-color: transparent !important;
    cursor: default !important;
}
.sticky-menu {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    -webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.1);
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.1);
}

.sticky-menu.active {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    transition: all .3s ease;
    opacity: 1;
}

.sticky-menu .widget-type-logo img {
    height: 35px !important;
    width: auto !important;
    margin: 10px 0;
}

.hhs-header.sticky-menu.active {
 padding: 5px 0px !important;
}

.custom-menu-primary.js-enabled .hamburger {
 display: none;
}

.hamburger {
  padding: 15px 0px 15px 12px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  float: right;
  margin-right: 0px;
  margin-top: 3px;
}
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger:focus {
    outline: none;
}

.sticky-menu .hamburger {
 padding: 3px 0 3px 12px;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); 
}



@media (max-width: 768px){
  .sticky-menu.active {
    position: static !important;
  }
  .sticky-menu .widget-type-cta {
       display: none;
   }
   .sticky-menu .widget-type-logo img {
       margin: 0;
   }
   .sticky-menu .page-center {
       padding: 0 10px !important;
   }
  .hhs-nav {
    position: relative;
  }
  /*
  .hhs-header-mod .hhs-nav {
    padding: 0 15px !important;
  }*/
  .hhs-nav-opt-items {
    padding-right: 40px;
  }
  .custom-menu-primary.js-enabled {
    float: none;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .custom-menu-primary .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }
  .custom-menu-primary.js-enabled .hamburger {
    display: inline-block;
  }
  .hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
   padding: 0px 15px;
  }
  .hhs-header-logo {
   position: relative;
   z-index: 1000;
  }
  .custom-menu-primary.js-enabled .hs-menu-wrapper > ul > li{
    margin-left: 0px !important;
  }
  .hamburger {
   padding-top: 10px; 
  }
}

@media (max-width: 575px){
  nav {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in-out;
  }
  .hhs-header-mod .hhs-nav {
   padding-top: 25px; 
  }
  .custom-menu-primary.js-enabled {
   top: 20px; 
  }
   nav.is-open {
   overflow: visible;  
  }
  .hhs-hat-pull-down {
    visibility: visible;
  }
  .hhs-hat-menu {
   position: relative;
  }
  .hhs-nav-opt-items .hhs-lang-switch,
  .hhs-nav-opt-items .hhs-header-search {
    float: none;
    position: absolute;
    top: -12px
  }
  .hhs-hat-menu .hhs-header-search {
    right: 0px;
 }
  .hhs-hat-menu .hhs-lang-switch {
    left: 0px;
    margin-left: 0px;
 }
   .hhs-hat-menu .hhs-lang-switch .lang_switcher_class {
   padding: 7px 10px 7px 0;
  }
  .hhs-hat-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    text-align: center !important;
    padding: 0 !important;
  }
  .hhs-hat-menu .hhs-header-search a {
   padding: 5px 0px 5px 10px;
  }

  .hhs-hat-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul,
  .hhs-hat-menu > ul {
    width: 100% !important;
    margin: 15px auto !important;
    float: none !important;
  }
  .sticky-menu.active {
    display: none !important;
    height: 0px !important;
  }
  .hamburger {
   padding-top: 15px; 
  }
}

